img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    opacity: 0;

}
img:hover {
  opacity: 1;
  transition: opacity 3s;

}
h1 {
  font-family: fantasy;
  font-size: 2em;
  text-align: center;
  text-shadow: 1;
}
p {
  font-family: monospace;
  font-size: 22px;
  text-align: center;
}
